
.head{text-align: center;padding-left: 50px;
padding-right: 50px;
background-color:#FFCCCB;
width: 100%;
padding: 0%;margin: 0%;}
.headbox{
    display: flex;
    flex-direction: row;
    padding: 10px;
    text-align: center;
}
.img img{
    width: 100px;
    text-align: center;
}
.proname{
    margin-left:26%;
    padding-top: -20px;
    
}
.proname p{
    font-size: 40px;
    padding-bottom: 20px;color:black;
    font-style: italic;
}
.about{
    margin-left: 30%;
    padding-top: 40px;
    display: inline-block;
}
.about a{
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    color:black;
}
.about a:hover{
    color: blue;
}
.main{    padding-top: 100px;
    text-align: center;
}
.con p{
    padding-top: 20px;
}
.con2{
    text-align: center;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: -15%;
}
.text{
    display: inline;
    text-align: center;
    padding-top: 5px;
}
.photo{
    display: block;

    margin-top: 4%;
    margin-left: 5%;
}
.photo img{
    width:400px;
    padding-top: 20px;
}
.system{
    display: block;
    margin-top: 5%;
    margin-left: 5%;
}
.im .im2{
margin-left: 8%;
}
.im .im3{
    padding-left: 3px;
}
.im .im4{
    padding-left: 16px;
}
.buttn{
    margin-top: 3%;
    margin-left: 5%;
}
.btn{
    color:black;
    width: 200px;
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid black;
    border-radius: 13px;
    background-color:yellow;

}
.btn:hover{
    background-color: gray;
    color: aliceblue;
    transition: .2s;
}